page-login {

    .error{
        color: #ff0000;
        font-size: 12px;
      }

      .fundo {
        background-color: #026cb6;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 20%;
    }

    .card {
      margin-top: 20%;
    }

}
