<ion-content class="fundo">
    <ion-card-header>
      <img src="assets/imgs/logo_e2doc.png" class="center" name="estec">
    </ion-card-header>

    <div class="primary-font">

      <h3 text-center>
          Acesse o e2Doc Enterprise
      </h3>

        <form padding [formGroup]="loginForm" (submit)="login()" novalidate>
          
          <ion-item class="e2-input">
            <ion-label> <ion-icon name="md-grid"></ion-icon>  </ion-label>
            <ion-input [(ngModel)]="base" formControlName="base" placeholder="Empresa" type="text" clearInput
              clearOnEdit="false">
            </ion-input>
          </ion-item>
          <h6 *ngIf="errorBase" class="error"> {{messageBase}}</h6>

          <ion-item class="e2-input">
              <ion-label> <ion-icon name="md-person"></ion-icon>  </ion-label>
            <ion-input [(ngModel)]="user" formControlName="user"  placeholder="Usuário" type="text" clearInput
              clearOnEdit="false">
            </ion-input>
          </ion-item>
          <h6 *ngIf="errorUser" class="error"> {{messageUser}}</h6>

          <ion-item class="e2-input">
              <ion-label> <ion-icon name="md-key"></ion-icon>  </ion-label>
            <ion-input [(ngModel)]="password" formControlName="password" type="password" placeholder="Senha" clearInput
              clearOnEdit="false">
            </ion-input>
          </ion-item>
          <h6 *ngIf="errorPassword" class="error"> {{messagePassword}}</h6>

          <br>

          <button ion-button block color="primary" class="login-button">Entrar</button>
        </form>
    </div>  

</ion-content>