page-login {

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 10%;
    }

    .card {
      background-color: rgba(0,85,135, 0.1);
      // margin-top: 10%;
    }
}
