page-adiciona-documento {

    .btn-sync {
        width: 100%;
        height: 50px;
      }
      
      ion-slide {
        top: -50px;
        padding: 1px;
      }

      .e2scroll {
        height: initial;
      }


}
