<ion-header>
  <ion-toolbar color="tool-bar">

    <button ion-button menuToggle>
      <ion-icon class="btn-menu-icon" name="md-menu">
      </ion-icon>
    </button>

    <ion-title style="margin-top: 10px;"> e2Doc Enterprise </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="fundo">
  <ion-slides pager>
    <ion-slide>

      <h4 class="slide-title">Arquivo</h4>

      <ion-row>
        <ion-col col-6>

          <button ion-button class="btn" style="background-color: #FF6700" (click)="goToCamera()">

            <ion-col col-6>
              <h6 class="btn-title" style="margin-top: -30px">CÂMERA <br> </h6>
            </ion-col>

            <ion-col col-6>
              <span class="btn-icon" style="color: white">
                <ion-icon name="md-camera" style="zoom:3.0;"> </ion-icon>
              </span>
            </ion-col>

          </button>

        </ion-col>

        <ion-col col-6>
          <button ion-button class="btn" style="background-color: #00C802" (click)="goToGaleria()">

            <ion-col col-6>
              <h6 class="btn-title" style="margin-top: -30px">GALERIA </h6>
            </ion-col>

            <ion-col col-6>
              <span class="btn-icon" style="color: white">
                <ion-icon name="md-image" style="zoom:3.0;"> </ion-icon>
              </span>
            </ion-col>

          </button>
        </ion-col>
      </ion-row>

    </ion-slide>
    <ion-slide padding>

      <h4 class="slide-title">Modelos</h4>

      <ion-item class="e2-input">
        <ion-label>Modelo</ion-label>
        <ion-select [(ngModel)]="pasta" (ionChange)="onPastaSelect()" interface="popover">
          <ion-option *ngFor="let pasta of pastas" [value]="pasta">{{pasta.nome}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="e2-input">
        <ion-label>Documento</ion-label>
        <ion-select [(ngModel)]="documento" (ionChange)="onDocSelect()" interface="popover" >
          <ion-option *ngFor="let doc of documentos" [value]="doc">{{doc.nome}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-slide>
    <ion-slide>

      <h4 class="slide-title">Índices</h4>
      <br>

      <div *ngIf="indicesReady">

        <form (submit)="sincronizar()" novalidate>

          <div *ngFor="let indice of indices">

            <div *ngIf="!indice.hasDic; else hasDic">

              <!-- Se o campo for do tipo data (3) -->
              <div *ngIf="indice.tipo == 3; else inputNormal">

                <ion-item class="e2-input">
                  <ion-label>{{indice.nameLabel}}</ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="indice.valor" [ngModelOptions]="{standalone: true}"
                    (ionCancel)="clearDateTime(indice.id)" doneText="Pronto" cancelText="Limpar"></ion-datetime>
                </ion-item>
                <h6 *ngIf="!indice.validate" class="error"> {{indice.messageValidate}}</h6>
              </div>

              <ng-template #inputNormal>
                <ion-item class="e2-input">
                  <ion-input type="text" [(ngModel)]="indice.valor" placeholder="{{indice.nameLabel}}" [ngModelOptions]="{standalone: true}"
                    clearInput clearOnEdit="false"></ion-input>
                </ion-item>
                <h6 *ngIf="!indice.validate" class="error"> {{indice.messageValidate}}</h6>
              </ng-template>

            </div>

            <ng-template #hasDic>
              <ion-item class="e2-input">
                <ion-label>{{indice.nameLabel}}</ion-label>
                <ion-select [(ngModel)]="indice.valor" [ngModelOptions]="{standalone: true}" interface="popover">
                  <ion-option *ngFor="let item of indice.dic.itens" [value]="item.chave">{{item.valor}}</ion-option>
                </ion-select>
              </ion-item>
              <h6 *ngIf="!indice.validate" class="error"> {{indice.messageValidate}}</h6>
            </ng-template>

          </div>

          <button ion-button block class="btn-sync" style="background-color: #00C802">
            <span style="color: white; margin: auto" >
              <ion-icon name="md-cloud-upload" style="zoom:2.0;"> </ion-icon>
            </span>
          </button>

        </form>

      </div>
    </ion-slide>

  </ion-slides>

</ion-content>