page-contratacao {

    .app-slide p, h2{        
        color: #ffffff;
    }

    .app-slide-icon, p{        
        color: black;
    }

    .app-slide img {
        width: 150px;
        height: 150px;                    
    }

    .app-slide-icon{
        padding-top: 10px; 
        border-radius: 10px;
        background-color: #fcfcfc;
    }

    .app-slide .picture-icon {          
        background-color: #ffffff;                      
    }  

    .msgOk{
        margin: 10,10,10,10;        
        border-radius: 10px;                
        color: green;
    }

    .msgText {            
        color: green;
    }

    ion-slide {
        margin-top: -50px;    
        padding: 5px;
    }

}
