<ion-header>
  <ion-toolbar color="tool-bar">

    <button ion-button menuToggle>
      <ion-icon class="btn-menu-icon" name="md-menu">
      </ion-icon>
    </button>

    <ion-title style="margin-top: 10px;"> Contratação </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="fundo">

  <ion-slides pager>
    <ion-slide *ngFor="let model of slideModels">

      <h4 class="slide-title">{{model.modelo}}</h4>

      <ion-row>
        <ion-col col-6>
          <button ion-button class="btn" style="background-color: #FF6700" (click)="goToCamera(model.modelo)">

            <ion-col col-6>
              <h6 class="btn-title" style="margin-top: -30px">CÂMERA <br> </h6>
            </ion-col>

            <ion-col col-6>
              <span class="btn-icon" style="color: white">
                <ion-icon name="md-camera" style="zoom:3.0;"> </ion-icon>
              </span>
            </ion-col>

          </button>

        </ion-col>

        <ion-col col-6>
          <button ion-button class="btn" style="background-color: #00C802" (click)="goToGaleria(model.modelo)">

            <ion-col col-6>
              <h6 class="btn-title" style="margin-top: -30px">GALERIA </h6>
            </ion-col>

            <ion-col col-6>
              <span class="btn-icon" style="color: white">
                <ion-icon name="md-image" style="zoom:3.0;"> </ion-icon>
              </span>
            </ion-col>

          </button>
        </ion-col>

        <ion-col col-12>
          <div style="position:absolute">
            <p>
              <br><br>
              {{model.descricao}}
            </p>

            <div class="msgOk" [hidden]="!model.enviado">
              <ion-icon name="md-checkmark"></ion-icon>
              <br>
              Documento Enviado
            </div>

            <button ion-button icon-start color="danger" [disabled]="model.enviado" (click)="slideNext(model.modelo)"
              *ngIf="!model.obrigatorio">
              Não possuo &nbsp;&nbsp;
              <ion-icon name="md-arrow-forward"></ion-icon>
            </button>
          </div>

        </ion-col>


      </ion-row>
    </ion-slide>

    <ion-slide class="app-slide">

      <ion-grid>

        <ion-row *ngFor="let model of slideModels">
          <ion-col>
            <ion-item class="e2-check">
              <ion-label>{{model.modelo}}</ion-label>
              <ion-checkbox color="secondary" [checked]="model.enviado" disabled="true"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-grid>

      <br>

      <div *ngIf="!docsIsValid">
        <h5 style="color: #ffffff">Aguardando resposta, por favor aguarde!</h5>
        <ion-spinner name="bubbles" id="bubbles"></ion-spinner>
      </div>

      <br>
      <br>

      <div *ngIf="docsIsValid">
        <button ion-button full color="secondary" (click)="goToDocFichaPage()">Assinar</button>
      </div>

      <br>
      <br>

    </ion-slide>
  </ion-slides>




</ion-content>























































<!-- <ion-header no-border>
  <ion-navbar #navbar>
    
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title class="app-page-title" >RH</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="fundo">

<ion-slides pager>

  <ion-slide class="app-slide" *ngFor="let model of slideModels">

    <div (click)="getPicture(model.modelo)">

      <div class="app-slide-icon">
        <p style="color: black">Clique para tirar uma foto</p>
        <img [src]="imgIcoPhoto" alt="">
      </div>
      <h2>{{model.modelo}}</h2>
      <br>
      <div>
        <p>
          {{model.descricao}}
        </p>
      </div>

      <div class="msgOk" [hidden]="!model.enviado">
        <ion-icon name="md-checkmark"></ion-icon>
        <br>
        Documento Enviado
      </div>

    </div>

    <button ion-button icon-start color="danger" [disabled]="model.enviado" (click)="slideNext(model.modelo)" *ngIf="!model.obrigatorio">
      Não possuo &nbsp;&nbsp;
      <ion-icon name="md-arrow-forward"></ion-icon>
    </button>

  </ion-slide>


  <ion-slide class="app-slide">

    <ion-grid>

      <ion-row *ngFor="let model of slideModels">
        <ion-col>
          <ion-item class="e2-check">
            <ion-label>{{model.modelo}}</ion-label>
            <ion-checkbox color="secondary" [checked]="model.enviado" disabled="true"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <br>

    <div *ngIf="!docsIsValid">
      <h5 style="color: #ffffff">Aguardando resposta, por favor aguarde!</h5>
      <ion-spinner name="bubbles" id="bubbles"></ion-spinner>
    </div>

    <br>
    <br>

    <div *ngIf="docsIsValid">
      <button ion-button full color="secondary" (click)="goToDocFichaPage()">Assinar</button>
    </div>
    
    <br>
    <br>

  </ion-slide>

</ion-slides>

</ion-content> -->