<ion-header>
    <ion-toolbar color="tool-bar">
  
      <button ion-button menuToggle>
        <ion-icon class="btn-menu-icon" name="md-menu">
        </ion-icon>
      </button>
  
      <ion-title style="margin-top: 10px;"> Modelo de Pasta </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content padding class="fundo">

  <h5 text-center>Selecione um modelo</h5>
  <hr>

    <!-- <ion-list>
        <ion-item *ngFor="let pasta of pastas" >
          <div class="app-list-item">
              <ion-label> <ion-icon name="md-folder"></ion-icon>   </ion-label>
              

          </div>


            <ion-label> <ion-icon name="md-folder"></ion-icon>  </ion-label>
            <ion-input type="text" placeholder="{{pasta.nome}}" >
            </ion-input>

        </ion-item>
      </ion-list> -->

      <ion-list>
          <ion-item ion-item *ngFor="let p of pastas" (click)="select(p)" >
              <ion-icon name="md-folder" style="zoom: 1 .0;"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
              {{p.nome}}
          </ion-item>
      </ion-list>

    

</ion-content>
