<ion-content padding>

  <ion-slides pager>

    <ion-slide class="myapp-slide" *ngFor="let doc of docs">

      <div (click)="getPicture(doc.modelo)">

        <div class="myapp-slide-icon">
          <p>Clique para tirar uma foto</p>
          <img [src]="imgIcoPhoto" alt="">
        </div>
        <h2>{{doc.modelo}}</h2>
        <br>
        <div>
          <p>
            {{doc.descricao}}
          </p>
        </div>

        <div class="msgOk" [hidden]="!doc.enviado">
          <ion-icon name="md-checkmark"></ion-icon>
          <br>
          Documento Enviado
        </div>

      </div>

      <button ion-button icon-start color="danger" [disabled]="doc.enviado" (click)="slideNext(doc.modelo)"
        *ngIf="!doc.obrigatorio">
        Não possuo &nbsp;&nbsp;
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>

    </ion-slide>


    <ion-slide class="myapp-slide">
      <img style="width: 287px; height: 124px;" src="assets/imgs/e2doc.jpg" alt="">

      <ion-grid>

          <ion-row *ngFor="let doc of docs">
          <ion-col>
              <ion-item>
                  <ion-label>{{doc.modelo}}</ion-label>
                  <ion-checkbox [checked]="doc.enviado" disabled="true"></ion-checkbox>
                </ion-item>
            </ion-col> 
          </ion-row>

      </ion-grid>

      <h5 [hidden]="validade">Aguardando resposta, por favor aguarde!</h5>
      <ion-spinner name="bubbles" id="bubbles" [hidden]="validade"></ion-spinner>

      <br>

      <button [hidden]="!validade" ion-button full color="secondary" (click)="goToDocFichaPage()">Assinar</button>

      <br>
      <br>

    </ion-slide>

  </ion-slides>

</ion-content>