<ion-header>

    <ion-navbar>
      <ion-title>RH</ion-title>
    </ion-navbar>
  
  </ion-header>

<ion-content padding>

  <ion-slides pager>

    <ion-slide class="myapp-slide" *ngFor="let model of slideModels">

      <div (click)="getPicture(model.modelo)">

        <div class="myapp-slide-icon">
          <p>Clique para tirar uma foto</p>
          <img [src]="imgIcoPhoto" alt="">
        </div>
        <h2>{{model.modelo}}</h2>
        <br>
        <div>
          <p>
            {{model.descricao}}
          </p>
        </div>

        <div class="msgOk" [hidden]="!model.enviado">
          <ion-icon name="md-checkmark"></ion-icon>
          <br>
          Documento Enviado
        </div>

      </div>

      <button ion-button icon-start color="danger" [disabled]="model.enviado" (click)="slideNext(model.modelo)" *ngIf="!model.obrigatorio">
        Não possuo &nbsp;&nbsp;
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>

    </ion-slide>


    <ion-slide class="myapp-slide">
      <img style="width: 287px; height: 124px;" src="assets/imgs/e2doc.jpg" alt="">

      <ion-grid>

        <ion-row *ngFor="let model of slideModels">
          <ion-col>
            <ion-item>
              <ion-label>{{model.modelo}}</ion-label>
              <ion-checkbox color="secondary" [checked]="model.enviado" disabled="true"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-grid>

      <br>

      <div *ngIf="!docsIsValid">
        <h5>Aguardando resposta, por favor aguarde!</h5>
        <ion-spinner name="bubbles" id="bubbles"></ion-spinner>
      </div>

      <br>
      <br>

      <div *ngIf="docsIsValid">
        <button ion-button full color="secondary" (click)="goToDocFichaPage()">Assinar</button>
      </div>
      
      <br>
      <br>

    </ion-slide>

  </ion-slides>

</ion-content>