<ion-header>
  <ion-toolbar color="tool-bar">

    <button ion-button menuToggle>
      <ion-icon class="btn-menu-icon" name="md-menu">
      </ion-icon>
    </button>

    <ion-title style="margin-top: 10px;"> Adicionar Documento </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">

  <ion-slides pager paginationType="progress" spaceBetween="5" style="height: 60%;">
    <ion-slide *ngFor="let image of imgDocs; let i = index">
      <div class="image">
        <img [src]="image.b64" />

        <button ion-button class="app-btn-close" style="margin-top: 45px;" (click)="removeImg(i)">
          <ion-icon name="close"></ion-icon>
        </button>
        <button ion-button class="app-btn-close" style="margin-top: 75px;" (click)="showImage(i)">
          <ion-icon name="image"></ion-icon>
        </button>
        <button ion-button class="app-btn-close" style="margin-top: 105px;">
          {{i + 1}}
        </button>

        <button ion-button class="app-btn-slide" style="right: 0" (click)="slides.slideNext()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>

        <button ion-button class="app-btn-slide" style="left: 0" (click)="slides.slidePrev()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>

        <ion-item class="e2-input modelos-input">
          <ion-label stacked>Modelo de Documento*</ion-label>
          <ion-select [(ngModel)]="image.modelo" interface="popover" (ionChange)="selectedDoc()">
            <ion-option *ngFor="let doc of documentos" [value]="doc">{{doc.nome}} </ion-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-grid>

    <ion-col col-12>

      <h6> &nbsp;&nbsp; <ion-icon name="folder"></ion-icon> &nbsp; Modelo de Pasta</h6>
      <ion-item class="e2-input">
        <ion-label stacked>Modelo de Pasta*</ion-label>
        <ion-select [(ngModel)]="pasta" (ionChange)="onPastaSelect()" interface="popover">
          <ion-option *ngFor="let pasta of pastas" [value]="pasta">{{pasta.nome}}</ion-option>
        </ion-select>
      </ion-item>

      <h6> &nbsp;&nbsp; <ion-icon name="document"></ion-icon> &nbsp; Campos de Indexação</h6>

      <div *ngIf="indicesReady">

        <form (submit)="sincronizar()" novalidate>

          <div *ngFor="let indice of indices">

            <div *ngIf="!indice.hasDic; else hasDic">

              <div *ngIf="indice.tipo == 3; else inputNormal">

                <ion-item class="e2-input">
                  <ion-label stacked>{{indice.nameLabel}}</ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="indice.valor" [ngModelOptions]="{standalone: true}"
                    (ionCancel)="clearDateTime(indice.id)" doneText="Pronto" cancelText="Limpar"></ion-datetime>
                </ion-item>
                <div *ngIf="indice.validate; else msgError">
                    <br>
                  </div>
                  <ng-template #msgError>
                    <h6 class="error"> {{indice.messageValidate}} </h6>
                  </ng-template>
  
              </div>

              <ng-template #inputNormal>
                <ion-item class="e2-input">
                  <ion-label stacked>{{indice.nameLabel}}</ion-label>
                  <ion-input type="text" [(ngModel)]="indice.valor" [ngModelOptions]="{standalone: true}" clearInput
                    clearOnEdit="false">
                  </ion-input>
                </ion-item>
                <!-- <h6 *ngIf="!indice.validate" class="error"> {{indice.messageValidate}}</h6> -->
                <div *ngIf="indice.validate; else msgError">
                  <br>
                </div>
                <ng-template #msgError>
                  <h6 class="error"> {{indice.messageValidate}} </h6>
                </ng-template>

              </ng-template>

            </div>

            <ng-template #hasDic>
              <ion-item class="e2-input">
                <ion-label stacked>{{indice.nameLabel}}</ion-label>
                <ion-select [(ngModel)]="indice.valor" [ngModelOptions]="{standalone: true}" interface="popover">
                  <ion-option *ngFor="let item of indice.dic.itens" [value]="item.chave">{{item.valor}}</ion-option>
                </ion-select>
              </ion-item>
              <div *ngIf="indice.validate; else msgError">
                  <br>
                </div>
                <ng-template #msgError>
                  <h6 class="error"> {{indice.messageValidate}} </h6>
                </ng-template>

            </ng-template>

          </div>

          <button ion-button block class="btn-sync" style="background-color: #00C802">
            <span style="color: white; margin: auto">
              <ion-icon name="md-cloud-upload" style="zoom:2.0;"> </ion-icon>
            </span>
          </button>

        </form>
      </div>

    </ion-col>
  </ion-grid>
</ion-content>